/* ................................
   GLOBAL STYLES
.............................. */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#07111f;
  color:white;
  font-family:Arial, sans-serif;
  overflow-x:hidden;
}

/* .............................
   TOPBAR
.............................. */

.topbar{
  height:70px;
  background:#081426;
  border-bottom:1px solid #163256;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 25px;

  position:sticky;
  top:0;
  z-index:100;
}

/* LOGO SECTION */
.logo-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo-box{
  width:40px;
  height:40px;

  background:#173056;
  border-radius:10px;

  display:flex;
  justify-content:center;
  align-items:center;
}

/* ACTION BUTTONS */

.top-actions{
  display:flex;
  gap:10px;
}

.top-actions button{
  width:40px;
  height:40px;

  border:none;
  border-radius:10px;

  background:#11213a;
  color:white;

  cursor:pointer;
  transition:0.3s;
}

.top-actions button:hover{
  background:#2563eb;
  transform:scale(1.05);
}

/* ......................................
   MAIN LAYOUT
....................................... */

.dashboard-container{
  display:flex;
}

/* .............................
   SIDEBAR
.............................. */